<section class="title">
  <div class="welcome">Welcome to</div>
  CodeBlaze
  <div class="hint">Reset your passoword below!</div>
</section>
<div class="login-group">
  <clr-input-container>
    <label class="clr-sr-only">E-mail</label>
    <input
      type="text"
      autocomplete="username"
      name="username"
      clrInput
      placeholder="Enter e-mail"
      [(ngModel)]="form.username"
    />
  </clr-input-container>
  <clr-password-container>
    <label class="clr-sr-only">Password</label>
    <input
      type="password"
      autocomplete="current-password"
      name="password"
      clrPassword
      placeholder="Enter password"
      [(ngModel)]="form.password"
    />
  </clr-password-container>
  <clr-password-container>
    <label class="clr-sr-only">Confirm Password</label>
    <input
      type="password"
      autocomplete="confirm-password"
      name="password"
      clrPassword
      placeholder="Enter confirm password"
      [(ngModel)]="form.confirmPassword"
    />
  </clr-password-container>

  <div class="error active" *ngIf="isError">Invalid user name or password</div>
  <button type="submit" class="btn btn-primary" [routerLink]="'/auth/login'">
    Reset Passoword
  </button>
  <a [routerLink]="'/auth/signup'" class="signup"> Login into your account </a>
</div>
