<div class="login-body">
  <section class="title">
    <div class="welcome">VMWare</div>
    <div class="hint">Request a passowrd reset link!</div>
  </section>
  <div class="login-group">
    <clr-input-container>
      <label class="clr-sr-only">E-mail</label>
      <input
        type="text"
        autocomplete="username"
        name="username"
        clrInput
        placeholder="Enter e-mail"
        [(ngModel)]="form.username"
      />
    </clr-input-container>
    <div class="error active" *ngIf="isError">
      Invalid user name or password
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [routerLink]="'/auth/reset-password'"
    >
      Get Reset Password Link
    </button>
    <a [routerLink]="'/auth/signup'" class="signup"> Sign up for an account </a>
  </div>
</div>
