<clr-alert [clrAlertType]="type" (clrAlertClosedChange)="handleClose($event)">
  <clr-alert-item>
    <span class="alert-text">{{ message }}</span>
  </clr-alert-item>
</clr-alert>

<!-- <div class="alert alert-danger">
  <div class="alert-items">
    <div class="alert-item static" role="alert">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="error-standard"></cds-icon>
      </div>
      <span class="alert-text">{{ message }}</span>
    </div>
  </div>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="handleClose()"
  >
    <cds-icon aria-hidden="true" shape="close"></cds-icon>
  </button>
</div> 
<div class="alert alert-success alert-sm" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="success-standard"></cds-icon>
      </div>
      <span class="alert-text">This is an alert with 24px height.</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close">
    <cds-icon aria-hidden="true" shape="close"></cds-icon>
  </button>
</div>
<div class="alert alert-success alert-lightweight" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="success-standard"></cds-icon>
      </div>
      <span class="alert-text">This is a lightweight alert.</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close">
    <cds-icon aria-hidden="true" shape="close"></cds-icon>
  </button>
</div>
<div class="alert alert-success alert-lightweight alert-sm" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="success-standard"></cds-icon>
      </div>
      <span class="alert-text">This is a compact lightweight alert.</span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close">
    <cds-icon aria-hidden="true" shape="close"></cds-icon>
  </button>
</div>
-->
