<div class="main-container">
  <header class="header">
    <div class="branding">
      <a routerLink="/" routerLinkActive="active">
        <cds-icon shape="bolt"></cds-icon>
        <span class="title">Project Pokémon</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [clrVerticalNavCollapsed]="false"
    >
      <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        Normal
      </a>
      <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
        Electric
      </a>
      <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
        Poison
      </a>
      <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
        Grass
      </a>
      <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
        Fighting
      </a>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
        Credit
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
