<section class="title">
  <div class="welcome">VMWare</div>
  <div class="hint">Signup and start your journey!</div>
</section>
<div class="login-group">
  <!-- <clr-select-container>
          <label>User Role</label>
          <select clrSelect name="type" [(ngModel)]="form.type">
            <option value="local">Local Users</option>
            <option value="admin">Administrator</option>
          </select>
        </clr-select-container> -->
  <clr-input-container>
    <label class="clr-sr-only">E-mail</label>
    <input
      type="text"
      autocomplete="username"
      name="username"
      clrInput
      placeholder="Enter e-mail"
      [(ngModel)]="form.username"
    />
  </clr-input-container>
  <clr-password-container>
    <label class="clr-sr-only">Password</label>
    <input
      type="password"
      autocomplete="current-password"
      name="password"
      clrPassword
      placeholder="Enter password"
      [(ngModel)]="form.password"
    />
  </clr-password-container>
  <clr-password-container>
    <label class="clr-sr-only">Confirm Password</label>
    <input
      type="password"
      autocomplete="confirm-password"
      name="confirmPassword"
      clrPassword
      placeholder="Enter confirm password"
      [(ngModel)]="form.confirmPassword"
    />
  </clr-password-container>
  <clr-checkbox-wrapper>
    <label>Remember me</label>
    <input
      type="checkbox"
      name="rememberMe"
      clrCheckbox
      [(ngModel)]="form.rememberMe"
    />
  </clr-checkbox-wrapper>
  <div class="error active" *ngIf="isError">Invalid user name or password</div>
  <button type="submit" class="btn btn-primary" [routerLink]="'/auth/login'">
    Signup
  </button>
  <a [routerLink]="'/auth/login'" class="signup">Already have an account</a>
</div>
