<app-alert
  [type]="'success'"
  [message]="'This alert indicates success.'"
  (onClose)="handleClose($event)"
></app-alert>

<h2>Demo of Dialog Service</h2>
<p class="p1">
  Click on the buttons to see different types of confirmation dialgs
</p>
<button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
<button class="btn btn-primary" (click)="onCustomConfirm()">
  Custom Confirm
</button>
<button class="btn btn-info" (click)="onInfo()">Info</button>
<button class="btn btn-success" (click)="onSuccess()">Success</button>
<button class="btn btn-warning" (click)="onWarning()">Warning</button>
<button class="btn btn-danger" (click)="onError()">Error</button>
