<app-alert
  [type]="'success'"
  [message]="'This alert indicates success.'"
  (onClose)="handleClose($event)"
></app-alert>

<h2>Demo of Dialog Service</h2>
<p class="p1">
  Click on the buttons to see different types of confirmation dialgs
</p>
<button class="btn btn-primary" (click)="onConfirm()">Confirm</button>

<h2>Demo of App Level Alert Service</h2>
<p class="p1">
  Click on the buttons to see different types of app level alerts
</p>
<button
  class="btn btn-primary"
  (click)="showAppLevelAlert('info', 'info', 'This is an info alert.')"
>
  App Level Info Alert
</button>
<button
  class="btn btn-primary"
  (click)="showAppLevelAlert('success', 'success', 'This is an success alert.')"
>
  App Level Success Alert
</button>
<button
  class="btn btn-primary"
  (click)="showAppLevelAlert('warning', 'warning', 'This is an warning alert.')"
>
  App Level Warning Alert
</button>
